* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.button-wrapper {
  width: 100%;
}

.show-html-btn {
  font-size: 12px;
  line-height: 12px;
  background-color: black;
  color: white;
  border-radius: 2px;
  padding: 2px 5px;
}

.render-html {
  padding: 12px 15px;
}
